@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Proza+Libre:wght@700&display=swap");

/* HTML & BODY */

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  color: var(--font-color);
}

:root {
  --spacing-1: 8px;
  --spacing-2: 12px;
  --spacing-3: 16px;
  --spacing-4: 24px;

  --border-radius: 12px;

  --font-color: #323232;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proza Libre", sans-serif;
    
}





body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-image: url(../img/building.jpg);
  background-position: center;
}

p {
    padding: 1%;
}



h1 {
    color: azure;
    font-family: "Proza Libre", sans-serif;
    font-size: 1.5rem;
    margin: .5rem;
}

/* NAVIGATION */

.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 200;
  padding: 16px 32px;
  background-color: #323232;
  border-bottom: 3px solid white;
  color: white;
  
  
  margin: 0 auto;
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation-items ul {
  margin: 0;
  padding: 0;
  display: flex;
}



.navigation-items {
    display: none;
    padding: 0;
    flex: 1 1 0%;
    justify-content: flex-end;
    margin: 0 -16px;
}


.navigation-items a {
    color: white;
    margin: 0 16px;
    text-decoration: none;
    font-weight: 300;
    transition: 0.4s;
    padding: 8px 16px;
    border-radius: 20px;

}

.navigation-items li {
  list-style: none; 
}


.navigation-items li:hover {
  background-color:#f8b600;
}

.hamburger {
  display: block;
  position: relative;

  user-select: none;

  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;

  top: 1rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 26px;
}

.hamburger .bar {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: white;
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;
    transition: 0.4s;
}



.hamburger:hover span:nth-child(2) {
    transform: translateX(10px);
    background-color:#f8b600;
}

.navigation-items. is-active:hover span {
    background-color:#f8b600;
    border-radius: 30px;
    flex-shrink: 0
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

.hamburger.is-active:hover span {
  background-color:#f8b600;
}

.navigation-items {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;

}



@media (min-width: 900px) {
  .hamburger {
    display: none;
  }
  .navigation-items {
    display: flex;
  }
}


.portrait {
  width: 300px;
  border-radius: 30px;
  flex-shrink: 0;
  
}

#about-me-container {
    display: flex;
    position: sticky;
  
  }
  
  .about-me-text-container {
    margin-right: 50%;
    padding-top: 100px;
  }

  .projects {
      margin-top: 100px;
      padding-top: 100px;
  }

  .project-image {
    width: 50%;
  }
  
  .project-title h3 {
    display: inline;
    margin-bottom: 50%;
    padding-top: 100px
  }

 


#skills-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  #skills-container > * {
    font-size: 2em;
    width: 2em;
    margin-top: var(--spacing-2);
    margin-bottom: var(--spacing-2);
    padding-bottom: 30%;
    
  }


.footer {
  margin-top: 30%;
  margin-bottom: 30%;
  padding-top: 20%;
  padding-bottom: 20%;
  text-align: center;
  font-style: bold;
  font-weight: 700;
}




